<%= render 'layouts/errors', :object => @message %>

<%= form_for [@message] do |f| %>
<%= f.label :body  %>
<%= f.text_area :body, class: 'form-control' %>


<% if @contact %>
  <%= f.label :to  %>
  <%= f.text_field :to, :value => @contact.number, class: 'form-control' %>
<% else %>
<div class="form-group">
  <%= f.label :to %>
  <%= f.collection_check_boxes :contact_ids, @address_book.contacts, :number, :fullname %>
</div>
<% end %>

<%= f.hidden_field :from, :value => "(754) 205-3203" %>
<br>
<%= f.submit class: 'btn btn-primary' %>
<% end %>
